:root {
    --pink: #BD78B0;
    --brown: #6B4837;
    --lightGreen: #97B154;
    --green: #6B8C51;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body main {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    
}

body main section{
    background-color: gray;
    border: 2px solid red;
    height: 500px;
    width: 30%;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
} 

body main section div {
    height: 100px;
    text-align: center
}

body #moveCount{
    height: fit-content;
    margin: 50px;
}

body div {
    height: 100px;
    text-align: center;
    margin: 0 auto;
}

body #holder {
    margin: 0 auto;
    width: 30%;
}

body #disc4{
    background-color: white;
    width: 90%;
}

body #disc3{
    background-color: green;
    width: 80%;
}

body #disc2{
    background-color: blue;
    width: 70%;
}

body #disc1{
    background-color: violet;
    width: 60%;
}

body #backgroundSound {
    display:none
}

.hidden {
    display: none;
}