
@keyframes bluePulse {
    0.0%{
    }
    100%{
    }
    49.9%{
        color: #0b66c2;
    }
}

:root {
    --pink: #BD78B0;
    --brown: #6B4837;
    --lightGreen: #97B154;
    --green: #6B8C51;
    --towerBackground: rgba( 255, 255, 255, 0.50 );
    --columnsBackground: transparent;
}

html {
    background-color: #D5783E;
    background-image: url(img/backgroundHTML.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    height: fit-content;
    font-size: 16px;
}

#intro {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0;
    backdrop-filter: blur( 15.0px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-intro {
    color: white;
    width: 60%;
    height: 70%;
    font-size: 1.56rem;
    letter-spacing: 3px;
    line-height: 21px;
    text-shadow: 1px 1px 1px black;
}

#botaoIniciar {
    width: 200px;
    height: 46px;
    color: white;
    align-self: flex-end;
    margin: 0 auto;
    padding : 5px 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 30px;
    background: #584d6e
}

.shadeOutIntro{
    animation-name: ShadeOut;
    animation-duration: 1.5s
}

header {
    width: 70%;
    max-width: 500px;
}

header h1 {
    font-size: 2rem;
    margin:15px;
    text-align: center;
}

header h2 {
    text-align: center;
}

body {
    overflow-x: hidden;
    font-family: 'Style Script';
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    min-height: calc(100% + 500px);
    flex-direction: column;
    align-items: center;
}


body main {
    width: 90%;
    max-width: 900px;
    display: flex;
    justify-content: space-between;
}

body main section {
    background-color: var(--columnsBackground);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 5.0px );
    border-radius: 10px;
    border: 2px solid var(--lightGreen);
    height: 300px;
    width: 33%;
    display: flex; 
    flex-direction: column-reverse; 
    align-items: center;
} 

body main section div {
    height: 25%;
    text-align: center;
    color: white;
}

#moveCount{
    height: fit-content;
    margin: 5px;
    text-shadow: 2px 2px 2px white;
    font-size: 1rem;
}

body div {
    height: 75px;
    text-align: center;
    margin: 0 auto;
}

body #holder {
    margin: 0 auto;
    width: 29.7%;
    height: 75px
    
}
body #holder div{
    height:100%
}

body #disc4{
    background-color: var(--towerBackground);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 6.0px );
    border-radius: 10px;
    background-image: url(img/tower4.png);
    background-size: cover;
    background-repeat: no-repeat;overflow-x: hidden;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
}

body #disc3{
    background-color: var(--towerBackground);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 6.0px );
    border-radius: 10px;
    background-image: url(img/tower3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
}

body #disc2{
    background-color: var(--towerBackground);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 6.0px );
    border-radius: 10px;
    background-image: url(img/tower2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
}

body #disc1{
    background-color: var(--towerBackground);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 6.0px );
    border-radius: 10px;
    background-image: url(img/tower1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    box-sizing: border-box;
}


body #backgroundSound, #errorSound, #victorySound{
    display:none

}

.messageSection{
    margin: 10px 0;
    height: 86px;
    display:flex;
    flex-direction: column;
    font-weight: 900;
    letter-spacing: 1px;
    justify-content: flex-end;
}
.messageSection input {
    height: fit-content;
    color:white;
    align-self: flex-end;
    margin: 10px auto 0 auto;
    padding : 5px 10px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 30px;
    background: #584d6e

    
}

.messageSection div {
    height: fit-content;
    margin: 5px auto;
    color: #FF4438;
    text-shadow: 1px 1px 1px black;
    font-size: 1.5rem;
}
.invalidAnimation{
    animation-name: shake;
    animation-duration:0.75s ;
}

.hidden {
    display: none !important;
}

footer{
    width: 100vw;
    background-color: transparent;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 5.0px );
    display: flex;
    text-align: center;
    padding:10px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0px;
    box-sizing: border-box;    
}
.blueAnimation{
    margin-left: 4px;
}
.shadeOutAnimation{
    animation-name: ShadeOut;
    animation-duration:0.5s
}
.shadeInAnimation{
    animation-direction: reverse;
    animation-name: ShadeOut;
    animation-duration:0.5s
}

div#win{
    color: #ff60ee;
    text-shadow: 2px 2px 2px black;
}


.linkLogo{
    animation: bluePulse 3s ease 0s infinite normal none;
    width:23px;
    margin:1px 0 0 0;
}

a{
    animation: bluePulse 3s ease 0s infinite normal none;
    color:black;
    text-decoration:none;
}

@media screen and (width:320px){
    /* iphone 5/SE */

    body main section {
        height: 230px;
    }
}

@media screen and (min-width:321px) and (max-width:720px){
    #text-intro {
        font-size: 2rem;
        line-height: 24px;
    }
}

@media screen and (min-width:721px){

    #text-intro {
        height: 80%;
        font-size: 3rem;
        line-height: 75px;
    }

    #botaoIniciar {
        width: 300px;
    }

    #botaoIniciar:hover {
        transition: 0.5s;
        border: 1px solid #584d6e;
        background:white;
        color: black;
        cursor:pointer;
    }

    .messageSection input:hover {
        transition: 0.5s;
        border: 1px solid #584d6e;
        background:white;
        color: black;
        cursor:pointer;
    }

    header h1 {
        font-size: 4rem;
    }

    body main section {
        height: 500px;
        width: 25%;
    }

    #moveCount{
        font-size: 2rem;
    }

    body #holder{
        height:125px;
        width: 22.5%
}
    div#win{
        font-size: 2rem;
    }
    
    footer {
        margin-top: 50px;
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@keyframes ShadeOut {
    0.0%{
    }
    100%{
        opacity: 0;
    }
}